@model IEnumerable<RecipeViewModel>

@{
    this.ViewData["Title"] = "Всички Рецепти";
}

<h1 class="text-center">Рецепти</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Номер</th>
            <th scope="col">Име</th>
            <th scope="col">Време за приготвяне/минути/</th>
            <th scope="col">Време за готвене/минути/</th>
            <th scope="col">Брой порции</th>
            <th scope="col">Трудност</th>
            <th scope="col">Тип</th>
            <th scope="col">Националност</th>
            <th scope="col">Категория</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var recipe in this.Model)
        {
            <tr>
                <td>@recipe.Id</td>
                <td>@recipe.Name</td>
                <td>@recipe.PreparationTime</td>
                <td>@recipe.CookingTime</td>
                <td>@recipe.Portions</td>
                <td>@recipe.Difficulty</td>

                <td>@recipe.RecipeTypeName</td>
                <td>@recipe.RecipeNationalityName</td>
                <td>@recipe.CategoryName</td>
               
                <td>
                    <a asp-controller="Recipes" asp-action="Delete" asp-route-id="@recipe.Id" class="btn btn-danger">Изтрий</a>
                    <a asp-controller="Recipes" asp-action="Edit" asp-route-id="@recipe.Id" class="btn btn-warning">Редактирай</a>
                </td>
            </tr>
        }
    </tbody>
</table>